{% assign product_collection = section.settings.collection %}
<div class="tt_product_module ocbestsellerproducts {% if section.settings.listing_rows != '1' %} multi-rows {% endif %}" id="product_module{{section.id}}">
  <div class="module-title">
    {% if section.settings.heading != blank %}  
    <h2><span>{{ section.settings.heading }}</span></h2>
    {% endif %}
  </div>
  {% if section.settings.description != blank %}  
  <div class="module-description"><p>{{ section.settings.description }}</p></div>
  {% endif %}
  <div class="tt-product  owl-carousel owl-theme ">
    {% if section.settings.listing_rows == '1' %}
    {% for product in collections[product_collection].products limit:section.settings.products_tab_count %}
    <div class="row_items">
      {% include 'product-grid-item2' %}
    </div>
    {% endfor %}
    {% else %}
    <div class="row_items">
      {% for product in collections[product_collection].products %}
      {% include 'product-grid-item2' %}
      {% assign ind = forloop.index | times: 1 | modulo:section.settings.listing_rows %}
        {% if  ind == 0 and forloop.last == false %}
      </div><div class="row_items">
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="clearfix"></div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#product_module{{section.id}} .tt-product").owlCarousel({
      loop:  false ,
      margin:  30 ,
      nav:  false ,
      dots:  true ,
      autoplay:   false ,
      autoplayTimeout:  1000 ,
      autoplayHoverPause: true,
      autoplaySpeed:  1000 ,
      navSpeed:  1000 ,
      dotsSpeed:  1000 ,
      lazyLoad: true,
      responsive:{
      0:{
      items: 1,
      nav: false,
      dots: false
      },
      480:{
      items: 2,
      nav: false,
      dots: false
      },
      768:{
      items: 2,
      },
      992:{
      items: 2
      },
      1200:{
      items: {{ section.settings.no_of_products }}
      },
      1600:{
      items: {{ section.settings.no_of_products }}
      }
      },
      onInitialized: function() {
      var count = $("#product_module{{section.id}} .tt-product .owl-item.active").length;
                    if(count == 1) {
        $("#product_module{{section.id}} .tt-product .owl-item").removeClass('first');
          $("#product_module{{section.id}} .tt-product .active").addClass('first');
          } else {
          $("#product_module{{section.id}} .tt-product .owl-item").removeClass('first');
          $("#product_module{{section.id}} .tt-product .owl-item.active:first").addClass('first');
          }

          },
          onTranslated: function() {
          var count = $("#product_module{{section.id}} .tt-product .owl-item.active").length;
                        if(count == 1) {
            $("#product_module{{section.id}} .tt-product .owl-item").removeClass('first');
              $("#product_module{{section.id}} .tt-product .active").addClass('first');
              } else {
              $("#product_module{{section.id}} .tt-product .owl-item").removeClass('first');
              $("#product_module{{section.id}} .tt-product .owl-item.active:first").addClass('first');
              }
              }
              });

          });
</script>