<div class="main-row {% if section.settings.fullwidth == true %}full-width{% endif  %} {% if section.settings.background == true %} layer-background {% endif  %} {% if section.settings.top_margin %} margin-top{% endif %}">
  <div class="container">
    <div class="row {% if section.settings.bottom_padding %} padding-bottom{% endif %}">
      {% if section.settings.heading != blank %} 
      <div class="title ymk">
        <h1>{{ section.settings.heading }}</h1>
      </div>
      {% endif %}
      <div class="booking-form">
        <form>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <span class="form-label">{{ 'general.year_make_model.make' | t }}</span>
                <select name="optone" id="makeSel" size="1" placeholder="{{ 'general.year_make_model.make' | t }}" class="form-control">
                  <option value="" selected="selected">{{ 'general.year_make_model.make' | t }}</option>
                </select>
                <span class="select-arrow"></span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <span class="form-label">{{ 'general.year_make_model.model' | t }}</span>
                <select name="opttwo" id="modelSel" size="1" placeholder="{{ 'general.year_make_model.model' | t }}" class="form-control">
                  <option value="" selected="selected">{{ 'general.year_make_model.model' | t }}</option>
                </select>
                <span class="select-arrow"></span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <span class="form-label">Generation</span>
                <select name="optthree" id="yearSel" size="1" placeholder="Generation" class="form-control">
                  <option value="" selected="selected">Generation</option>
                </select>
                <span class="select-arrow"></span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <span class="form-label">&nbsp;</span>
                <div class="form-btn">
                    <button type="button" id="main-sumbit-button" class="submit-btn">{{ 'general.year_make_model.search' | t }}</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  {% if section.settings.background %}
  {% if section.settings.bg-image != blank %}
  #shopify-section-{{section.id }} .layer-background {
    padding: 80px 0;
    background-position: center;
    background-image: url('{{ section.settings.bg-image | img_url: 'master' }}');   
      }
  {% elsif section.settings.background_color != settings.section_bg_color -%}
  #shopify-section-{{section.id }} .layer-background {
    background: {{ section.settings.background_color }};
    padding: 80px 0;
  }
  {%- endif %}
  {%- endif %}
  #shopify-section-{{section.id }} .title h1 {
    color: {{ section.settings.heading_color }};
  }
</style>
{{ 'makeObject.js' | asset_url | script_tag }}
<script type="text/javascript">
  // This section creates the dynamic dropdowns

  window.onload = function() {
    var makeSel = document.getElementById("makeSel"),
        modelSel = document.getElementById("modelSel"),
        yearSel = document.getElementById("yearSel");
    for (var make in makeObject) {
      makeSel.options[makeSel.options.length] = new Option(make, make);
    }
    makeSel.onchange = function() {
      modelSel.length = 1; // remove all options bar first
      yearSel.length = 1; // remove all options bar first
      if (this.selectedIndex < 1) return; // done   
      for (var model in makeObject[this.value]) {
        modelSel.options[modelSel.options.length] = new Option(model, model);
      }
    }
    makeSel.onchange(); // reset in case page is reloaded
    modelSel.onchange = function() {
      yearSel.length = 1; // remove all options bar first
      if (this.selectedIndex < 1) return; // done   
      var years = makeObject[makeSel.value][this.value];
      for (var i = 0; i < years.length; i++) {
        yearSel.options[yearSel.options.length] = new Option(years[i], years[i]);
      }
    }
  }

  // The buildUrl function creates the query string on the values of the IDs in the HTML below

  function buildUrl() {
    var url = "";  // Change this line to your home page URL
    var make = document.querySelector('#makeSel').value;
    var model = document.querySelector('#modelSel').value;
    var year = document.querySelector('#yearSel').value;
    var qs = encodeURIComponent(make + ' ' + model + ' ' + year);
    if (qs.length > 0) {
      url = url + "/collections/all?constraint=" + qs;
      //url = url + "/search?type=product&q=" + qs;
    }
    return url;
  }

  $(document).ready(function() {
    $(document).on('click', '#main-sumbit-button', function (event) {
    
      event.stopImmediatePropagation();
      var make = $('#makeSel').val().toLowerCase().replace(/\s/g, '+');
      var model = $('#modelSel').val().toLowerCase().replace(/\s/g, '+');
      var year = $('#yearSel').val();
      console.log("Year: ", year);
      var url = window.location.origin + "/collections/all/make_" + make + "+model_" + model + "+gen_" + year;
      url = url.replaceAll(' ', '-');
      console.log("URL: ", url);
      window.location.href = url;
      return false;
       
    });
  });

</script>